
.header {
    background-color: white;
}

body {
    background-image:url('../images/retro-furnish.png');
}

h3 {
    background-color: rgb(14, 136, 136);
    width:200px;
    
    color:white;
}

nav {
    position:relative;
    float:right;
    color:black;
}


.container {
    background-color:white;
}

footer {
    background-color:gray;
    height:60px;
    border-top:10px rgb(14, 136, 136);
}


